$green-10: #203125;
$green-20: #294A32;
$green-30: #43664D;
$green-40: #3A5C43;
$green-50: #9FFFBB;
$green-60: #D4DBD6;
$green-70:  #ECEFED;
$green-80: #F5FFF8;
$green-90: #F4F6F5;

$yellow-10: #FFB13D;
$yellow-20: #BE7303;
$yellow-30: #FFDEAD;
$yellow-40: #FFFCE7;

$neutral-10: #141414;
$neutral-20: #4D4D4D;
$neutral-30: #68686E;
$neutral-40: #808080;
$neutral-50: #DADAE5;
$neutral-60: #FAFAFA;
$neutral-70: #FFFFFF;

$red-10: #FF385C;
$red-20: #FF607D;
$red-30: #FFF0F2;

$alpha-green-8: #191A19;
$alpha-green-16: #4A4D4B;

$alpha-yellow-8:#1A1A18;
$alpha-yellow-16: #4D4C46;