$container-xl: 1440px;
$container-l: 1216px;
$container-m: 991px;
$container-s: 568px;

// Mixin of media-queries
@mixin responsive($device) {
    @if $device ==xl {

        // For resolutions upper 1440px
        @media screen and (min-width: $container-xl) {
            @content;
        }
    }

    @else if $device ==l {

        // For resolutions between 1140px and 1440px
        @media screen and (max-width: $container-xl) and (min-width: $container-l) {
            @content;
        }
    }

    @else if $device ==m {

        // For resolutions between 960px and 1140px
        @media screen and (max-width: $container-l) and (min-width: $container-s) {
            @content;
        }
    }

    @else if $device ==s {

        // For resolutions less than 960px
        @media screen and (max-width: $container-m) {
            @content;
        }
    }

    @else if $device ==xs {

        // For resolutions less than 540px
        @media screen and (max-width: $container-s) {
            @content;
        }
    }
}

$container: 1216px;
$gutter: 32px;

.container {
    max-width: $container;
    margin: 0 auto;

    // border: 1px solid rgba(105, 252, 31, 0.321);

    // clearfix
    &::after {
        content: '';
        display: table;
        clear: both;
    }

    @include responsive(s) {
        flex-direction: column;
        }
}

@function grid($col, $total: 12) {
    @return ($col / $total) * 100%;
}

@for $i from 1 through 12 {
    .grid-#{$i} {
        // border: 1px solid red;

        float: left;

        width: calc(#{grid($i)} - #{$gutter});
        margin-left: $gutter / 2;
        margin-right: $gutter / 2;

        @include responsive(s) {
            width: calc(100% - #{$gutter});
            margin: $gutter / 2;
            float: none;
        }
    }
}