@import "components/grid";
@import "components/spacing";
@import "components/radius";
@import "components/colors";

@import "components/tipography";
@import "components/animation";
@import "components/header";


@import "components/input";
@import "components/layout";
@import "components/buttons";

@import "components/footer";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


a {
    text-decoration: none;

    font-family: "Inter", sans-serif;
}

li,
ul {
    list-style: none;
}

.extrabold {
    font-weight: 800;
}

.bold {
    font-weight: 700;
}

.semi-bold {
    font-weight: 600;
}

.medium {
    font-weight: 500;
}

.regular {
    font-weight: 400;
}

img {
    max-width: 100%;

    display: block;
}

.tag {
    color: $neutral-20;

    display: flex;
    align-items: center;
    gap: $space-4xs;
}

.w-56 {
    width: 40px;
}

.h-56 {
    height: 40px;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.align-start {
    display: flex;
    align-items: start !important;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.justify-end {
    justify-items: end;

    @include responsive(s) {
        justify-items: center !important;
    }
}

.relative {
    position: relative;
}

.center {
    display: block;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.space-mobile {
    margin: 16px 8px;
}